/* .todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo p {
    margin: 0;
    font-size: 16px;
}

.todo button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo button:hover {
    background-color: #333;
} */